
.note_box_padding{
    padding: 10px;
}
.note_box_text{
    display: flex;
    flex-direction: column;
    color:white;
}
.note_box_text_list{
    width: 189px;
    height: 160px ;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color:white;
}
.note_box_date{
    font-family: TTcommons-demi;
}
.note_box{
    background-color: aquamarine;
    position:relative;
    width: 210px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}
.note_box_top{
    display: flex;
    justify-content: space-between;
}
.note_box_remove{
    font-family: TTcommons-bold;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.note_box_remove:hover{
    color:red
}
.diary_box{
    display: flex;
}
.note_box_text_continue{
    width: 210px;
    position:absolute;
    top:170px;
    height: 30px;
    display: flex;
    text-decoration: none;
}
.list_box_text_continue{
    width: 210px;
    position:absolute;
    top:170px;
    height: 30px;
    display: flex;
    text-decoration: none;
}
.note_box_text_continue_text{
    color: white;
    font-family: TTcommons-demi;
    margin: auto;
    cursor: pointer;
}
.diary{
    display: flex;
}
