.menu{
    display: flex;
    width: 100%;
}
.menu img{
	opacity: 0.5;
	cursor: pointer;
    transition: 0.25s;
}
.menu img:hover{
	opacity: 0.9;
    transition: 0.25s;
}
.menu_link{
    display: none;
    margin: auto 0;
}
.style_link{
    text-decoration: none;
    color: rgb(87, 87, 87);
    margin-left: -.36em;
    font-family: TTCommons-demi;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.25s;
}
.style_link:nth-child(1){
    margin-left: 25px;
}
.style_link:hover{
    background-color: white;
    color: rgb(32, 32, 32);
    transition: 0.25s;
}
.link_active{
    color: rgb(32, 32, 32);
    background-color: white;
}